body {
    overflow-y: scroll;
}
.container {
    position: relative;
    align-content: space-around;
    width: 600px;
    height: 600px;
    margin: 25px;
    padding: 45px;
    background-color: #000000;
    border-radius: 50%;
    overflow-y: scroll;
}
/*I wanted to make my game look like the original one so I started with a trapezoid shape.*/
/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_shapes_trapezoid*/
/* trapezoid turned out to be a bit too complicated so I went with ovals */
/*https://stackoverflow.com/questions/19126432/rotate-a-div-using-javascript*/
.wedge-choice1 {
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    width: 125px;
    transform: rotate(-45deg);
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    height: 130px;
    max-width: 300px;
    background-color: green;
    margin: 50px 30px 30px;
    padding: 15px;
    border-radius: 50%;
}
/*I included the class for change wedge for my own purposes to keep the backgrounds straight.*/
.change-wedge1 {
    background-color: #30bb0b;
}
.wedge-choice2 {
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    width: 125px;
    transform: rotate(225deg);
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    height: 130px;
    max-width: 300px;
    background-color: firebrick;
    margin: 50px 30px 30px;
    padding: 15px;
    border-radius: 50%;
}
.change-wedge2 {
    background-color: #ff0000;
}
.wedge-choice3 {
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    width: 125px;
    transform: rotate(225deg);
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 460px;
    height: 130px;
    background-color: #ffc303;
    margin: 140px 30px 30px;
    padding: 15px;
    border-radius: 50%;
}
.change-wedge3 {
    background-color: yellow;
}
.wedge-choice4 {
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    width: 125px;
    transform: rotate(-45deg);
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    flex-scroll
    max-width: 460px;
    height: 130px;
    background-color: darkblue;
    margin: 140px 30px 30px;
    padding: 15px;
    border-radius: 50%;
}
.change-wedge4 {
    background-color: blue;
}
.simon {
    position: absolute;
    background-color: black;
    border-radius: 50%;
    color: white;
    font-size: 50px;
    margin-left: 28%;
    margin-top: 275px;
    padding: 4%;
    z-index: 1;
}
.start {
    position: absolute;
    background-color: red;
    border-radius: 50%;
    padding: 1%;
    margin-left: 20%;
    margin-top: 325px;
    z-index: 1;
}
