body {
    text-align: center;
}
main {
    text-align: center;
}
section div {
    text-align: center;
}
nav {
    text-align: center;
    margin: 30px 0 0;
    padding: 15px 0;
    background-color: black;
    justify-content: space-around;

}
nav a {
    font-size: 20px;
    margin: 0 40px;
    text-decoration: none;
    color: white;
}
.container {
    text-align: center;
    position: relative;
    align-content: space-around;
    width: 575px;
    height: 575px;
    margin: 25px;
    padding: 45px;
    background-color: #000000;
    border-radius: 50%;

}
/*I wanted to make my game look like the original one so I started with a trapezoid shape.*/
/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_shapes_trapezoid*/
/* trapezoid turned out to be a bit too complicated so I went with ovals */
/*https://stackoverflow.com/questions/19126432/rotate-a-div-using-javascript*/
.wedge-choice1 {
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    width: 120px;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    height: 200px;
    max-width: 200px;
    background-color: green;
    padding: 30px;
    margin-right: 25px;
    border-radius: 300px 0 0 0;
}
/*I included the class for change wedge for my own purposes to keep the backgrounds straight.*/
.change-wedge1 {
    background-color: #30bb0b;
}
.wedge-choice2 {
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    width: 120px;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    height: 200px;
    margin-left: 25px;
    max-width: 200px;
    background-color: firebrick;
    padding: 30px;
    border-radius: 0 300px 0 0;
}
.change-wedge2 {
    background-color: #ff0000;
}
.wedge-choice3 {
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    width: 120px;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 200px;
    height: 200px;
    margin-right: 25px;
    background-color: #ffc303;
    padding: 30px;
    border-radius: 0 0 0 300px;
}
.change-wedge3 {
    background-color: yellow;
}
.wedge-choice4 {
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    width: 120px;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 200px;
    height: 200px;
    background-color: darkblue;
    margin-left: 25px;
    margin-top: 50px;
    padding: 30px;
    border-radius: 0 0 300px 0;
}
.change-wedge4 {
    background-color: blue;
}
.simon {
    position: absolute;
    background-color: black;
    border-radius: 50%;
    text-align: start;
    color: white;
    font-size: 70px;
    margin-left: -18%;
    margin-top: 210px;
    padding: 5% 5% 15% 5%;
    z-index: 1;
}
.start {
    position: absolute;
    background-color: red;
    border-radius: 50%;
    padding: 1%;
    margin-left: -8%;
    margin-top: 370px;
    z-index: 2;
}
