.container {
    align-content: space-around;
    width: 540px;
    height: 540px;
    margin: 25px;
    background-color: #c2bdff;
}
.wedge-choice1 {
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 460px;
    width: 200px;
    height: 200px;
    background-color: green;
    margin: 20px;
    padding: 5px;
}
.wedge-choice1:hover {
    background-color: #30bb0b;
}
.wedge-choice2 {
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 460px;
    width: 200px;
    height: 200px;
    background-color: firebrick;
    margin: 20px;
    padding: 5px;
}
.wedge-choice2:hover {
    background-color: red;
}
.wedge-choice3 {
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 460px;
    width: 200px;
    height: 200px;
    background-color: #ffc303;
    margin: 20px;
    padding: 5px;
}
.wedge-choice3:hover {
    background-color: yellow;
}
.wedge-choice4 {
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 460px;
    width: 200px;
    height: 200px;
    background-color: darkblue;
    margin: 20px;
    padding: 5px;
}
.wedge-choice4:hover {
    background-color: blue;
}
.simon {
    background-color: black;
    border-radius: 50%;
    color: white;
    font-size: 25px;
    padding: 2%;
}
